UsherSheat/packages/
UsherSheat/UsherSheat/obj/
UsherSheat/.vs/UsherSheat/v15/sqlite3/storage.ide
UsherSheat/UsherSheat/bin/
UsherSheat/UsherSheat.Core/obj/
UsherSheat/UsherSheat.Api/obj/
UsherSheat/UsherSheat.Api/bin/
UsherSheat/.vs/UsherSheat/v15/.suo
UsherSheat/.vs/UsherSheat/v15/Server/sqlite3/storage.ide-wal
UsherSheat/.vs/UsherSheat/v15/Server/sqlite3/storage.ide-shm
UsherSheat/.vs/UsherSheat/v15/Server/sqlite3/storage.ide
UsherSheat/.vs/UsherSheat/v15/Server/sqlite3/db.lock
UsherSheat/UsherSheat.Service/obj/
UsherSheat/UsherSheat.Service/bin/Debug/netcoreapp2.0/UsherSheat.Service.dll
UsherSheat/UsherSheat.Service/bin/
UsherSheat/UsherSheat.Core/bin/
